<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/layout/admin_nav_side.css"/>
</head>
<body>
<div class="container" th:fragment="containerFragment">
<!-- Header - Start  -->
<header id="header">
    <div class="menu-button">
        <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="top-bar">
        <h3>우리회사 근태관리 관리자화면</h3>
    </div>
</header>
<!-- Header - End  -->
<!-- Navigation - Start  -->
<nav id="sidemenu">
    <div class="main-menu">
        <ul class='main-menu'>
            <li class="link-active">
                <a th:href="@{/admin/signup}">
                    <span class='glyphicon glyphicon-plus'></span> 구성원 추가
                </a>
            </li>
            <li>
                <a th:href="@{/admin/userlist}">
                    <span class='glyphicon glyphicon-user'></span> 구성원 목록
                </a>
            </li>
            <li>
                <a th:href="@{/admin/annual/enroll/list}">
                    <span class='	glyphicon glyphicon-check'></span> 휴가 승인
                </a>
            </li>
            <li>
                <a th:href="@{/admin/bg/attendance/list}">
                    <span class='glyphicon glyphicon-briefcase'></span> 외근 승인
                </a>
            </li>
            <li>
                <a th:href="@{/admin/companyFile/upload}">
                    <span class='glyphicon glyphicon-upload'></span> 회사 문서 목록 및 업로드
                </a>
            </li>
        </ul>
        <ul class='main-menu bottom'>
            <li>
                <a href="#" >
                    <span class='glyphicon glyphicon-user'></span> <span th:text="${user.username}"></span>
                </a>
            </li>
            <li>
                <a th:href="@{/}">
                    <span class='glyphicon glyphicon-log-out'></span> 관리자화면 나가기
                </a>
            </li>
        </ul>
    </div>
    <p class="copyright">&copy; Glen</p>
</nav>
</div>
<!-- Navigation - End  -->

</body>
</html>