<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>

<body>



<div class="container" th:fragment="containerFragment">


    <div class="row">
        <header>
            <a th:href="@{/}" class="mainLogo"><img src="https://i.postimg.cc/sXkq1bdm/2-removebg-preview.png" ></a>
            <a th:href="@{/user/logout}">
                <button class="header__menu__link"  id="logout" sec:authorize="isAuthenticated()" type="button">
                    로그아웃
                </button>
            </a>
            <a th:href="@{/admin/signup}" th:if="${user.role.name() != 'USER'}">
                <button class="header__menu__link">
                    관리자화면
                </button>
            </a>
        </header>
    </div>
    <nav id="sideNavParent" class="pdsa-sn-wrapper">
        <ul id="sideNavParent">
            <li style="text-align: center;" class="profileBox">
                <img th:if="${user.avatarUrl == null}" th:src="'/file/default-avatar.jpg'" height="100" width="100" alt="${member.login}" class="img-circle center-block clickable" style="cursor:pointer" />
                <img th:if="${user.avatarUrl != null}" th:src="${user.avatarUrl}" height="100" width="100" alt="${member.login}" class="img-circle center-block clickable" style="cursor:pointer" />
                <h3 class="hidden-xs" th:text="${user.realName}"></h3>
                <input type="file" id="fileInput" style="display: none;" onchange="handleFileSelect()" />
            </li>
            <li class="pdsa-sn-brand" th:if="${!todayState}">
                <a  class="btn btn-success" id="startWork">▶ 근무시작</a>
            </li>
            <li class="pdsa-sn-brand" th:if="${todayState}">
                <div id="timer" style="color: black; font-size: 10px; "></div>
                <a  class="btn btn-success" id="endWork">■ 근무종료</a>
            </li>
            <li>
                <a th:href="@{/}">
                    <span class="hidden-xs">홈 피드</span>
                    <i class="glyphicon glyphicon-home visible-xs"></i>
                </a>
            </li>
            <li>
                <a href="#"
                   data-toggle="collapse"
                   data-target="#ulGenres">
            <span class="hidden-xs">
              휴가&nbsp;<b class="caret"></b>
            </span>
                    <i class="glyphicon glyphicon-globe visible-xs"></i>
                </a>
                <div class="hidden-xs">
                    <ul id="ulGenres" class="collapse" data-parent="#sideNavParent">
                        <li>
                            <a th:href="@{/user/annual/enroll}">연차신청</a>
                        </li>
                        <li>
                            <a th:href="@{/user/annual/enroll/list}">연차신청 내역</a>
                        </li>
                        <li>
                            <a th:href="@{/user/annual/page}">나의 연차 현황</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#"
                   data-toggle="collapse"
                   data-target="#ulPlaylists">
            <span class="hidden-xs">
              근무&nbsp;<b class="caret"></b>
            </span>
                    <i class="glyphicon glyphicon-list-alt visible-xs"></i>
                </a>
                <div class="hidden-xs">
                    <ul id="ulPlaylists" class="collapse" data-parent="#sideNavParent">
                        <li>
                            <a th:href="@{/user/monthAttendance/}">근무내역 조회</a>
                        </li>
                        <li>
                            <a th:href="@{/user/bg/enroll}">외근 신청</a>
                        </li>
                        <li>
                            <a th:href="@{/user/bg/enroll/list}">외근 신청내역</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a th:href="@{/companyFile/list}">
                    <span class="hidden-xs">회사 문서</span>
                    <i class="glyphicon glyphicon-music visible-xs"></i>
                </a>
            </li>
            <li>
                <a  th:href="@{/user/member/list}">
                    <span class="hidden-xs">구성원</span>
                    <i class="glyphicon glyphicon-download visible-xs"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>



</body>
</html>