
.container{
    text-align: center;
}
.bg_content{
    text-align:left;
    display:inline-block;
    width:50%;
    margin-top: 50px;

}

.form-group>input{

}

.bg_title{
    text-align:center;
    margin-bottom:50px;
}

.bg_title>p{
    font-size: 24px;
    font-weight: bold;
    }