

.pricing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 1.875rem;
  width: 100%;
}

.pricing-item {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 20.625rem;
      -ms-flex: 0 1 20.625rem;
          flex: 0 1 20.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
}


.pricing-theme .pricing-item {
  background:  #D6F1DD;
  border: 2px solid  #D6F1DD;
  border-radius: 0.625rem;
  color: black;
  cursor: default;
  margin-bottom: 1.25rem;
  -webkit-transition: border-color 0.3s, background 0.3s;
  transition: border-color 0.3s, background 0.3s;
}
@media screen and (min-width: 40rem) {
  .pricing-theme .pricing-item {
    margin: 1.25rem;
  }
}

.pricing-theme .pricing-count {
  font-size: 3rem;
  font-weight: 400;
  padding: 1.125rem 0 0 0;
  position: relative;
  z-index: 100;
}



