.date_content {
    text-align: center;
    margin-top: 50px; /* 원하는 여백 값으로 조절하세요. */
}


.date_title p {
    font-size: 24px;
    font-weight: bold;
}
.date_form {
    margin-top: 20px; /* 원하는 여백 값으로 조절하세요. */
}
.birthday p {
    display: inline-block;
    margin: 0;
}
.date_btn {
    margin-top: 10px; /* 원하는 여백 값으로 조절하세요. */
}